In [126]:
import pandas as pd
from pathlib import Path

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [128]:
# Create engine 
uri = "sqlite:///Project_olympian.sqlite"
engine = create_engine()
conn = engine.connect()

# Declare a Base using `automap_base()`
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

TypeError: create_engine() missing 1 required positional argument: 'url'

In [25]:
Air_pollulants = Base.classes.Air_pollulants
Armed_forces = Base.classes.Armed_forces
Athlete_events = Base.classes.Athlete_events
Avoidable_mortality = Base.classes.Avoidable_mortality
Compulsory_education = Base.classes.Compulsory_education
Corruption = Base.classes.Corruption
Country_code_key = Base.classes.Country_code_key
Disaster_data = Base.classes.Disaster_data
Education_expenditure = Base.classes.Education_expenditure
Employment_ratio = Base.classes.Employment_ratio
GDP_growth = Base.classes.GDP_growth
GDP_p_cap_growth = Base.classes.GDP_p_cap_growth
GDP_per_capita = Base.classes.GDP_per_capita
GDP_usd = Base.classes.GDP_usd
Gov_effectivness = Base.classes.Gov_effectivness
Gov_stability = Base.classes.Gov_stability
Health_expenditure = Base.classes.Health_expenditure
Health_expenditure_usd = Base.classes.Health_expenditure_usd
Legal_rights = Base.classes.Legal_rights
Military_expenditure = Base.classes.Military_expenditure
Mortality_data = Base.classes.Mortality_data
Olympian_stats = Base.classes.Olympian_stats
Overall_olympics = Base.classes.Overall_olympics
Overall_stability = Base.classes.Overall_stability
Perceived_health = Base.classes.Perceived_health
Pollution_pop_exposed = Base.classes.Pollution_pop_exposed
Pop_growth = Base.classes.Pop_growth
Pop_total = Base.classes.Pop_total
Retirement_data = Base.classes.Retirement_data
Rule_of_law = Base.classes.Rule_of_law
Stability_and_absence_of_terr_voil = Base.classes.Stability_and_absence_of_terr_voil
Tourism_expenditure = Base.classes.Tourism_expenditure
Unemployment = Base.classes.Unemployment
Wage_gap = Base.classes.Wage_gap
Well_being_stats = Base.classes.Well_being_stats

session = Session(engine)

In [122]:
def column_names(table_name):
    inspector = inspect(engine)
    columns = inspector.get_columns(table_name)
    print(f'Table: {table_name}')
    print("---------------")
    
    for column in columns:
        print(column['name'])

def Table_names():
    table_names = list(Base.metadata.tables.keys())
    print(f'List of table names: {table_names}')

def query_to_dataframe(session, column1, column2, column3, column4, query_limit=10):
    data = []
    for row in session.query(column1, column2, column3, column4).limit(query_limit).all():
        data.append(row)
    df = pd.DataFrame(data, columns=[column1, column2, column3, column4])
    return df

In [148]:
data_test = pd.read_sql("SELECT Country_Name, Year, Growth_annual_perc FROM GDP_growth WHERE Country_Name='Zimbabwe' AND Year='1/1/1965'", conn)
data_test

  Country_Name      Year  Growth_annual_perc
0     Zimbabwe  1/1/1965            4.910571

In [141]:
Table_names()

column_names('Air_pollulants')

List of table names: ['Air_pollulants', 'Armed_forces', 'Athlete_events', 'Avoidable_mortality', 'Compulsory_education', 'Corruption', 'Country_code_key', 'Disaster_data', 'Education_expenditure', 'Employment_ratio', 'GDP_growth', 'GDP_p_cap_growth', 'GDP_per_capita', 'GDP_usd', 'Gov_effectivness', 'Gov_stability', 'Health_expenditure', 'Health_expenditure_usd', 'Legal_rights', 'Military_expenditure', 'Mortality_data', 'Olympian_stats', 'Overall_olympics', 'Overall_stability', 'Perceived_health', 'Pollution_pop_exposed', 'Pop_growth', 'Pop_total', 'Retirement_data', 'Rule_of_law', 'Stability_and_absence_of_terr_voil', 'Tourism_expenditure', 'Unemployment', 'Wage_gap', 'Well_being_stats']
Table: Air_pollulants
---------------
Country_code
Country
CHEM_COMP
Pollutant
Measure
Unit_of_measure
Year
Emissions_in_tonnes

In [150]:
# column1 = ' --Series_Name-- '
# column2 = ' --Growth_annual_perc-- '
# column3 = ' --Series_Name-- '
# column4 = ' --Perc_of_labor_force-- '

# print(column1, column2, column3, column4)
# for row in session.query(GDP_growth.Series_Name, GDP_growth.Growth_annual_perc, Armed_forces.Series_Name, Armed_forces.Perc_of_labor_force).limit(10).all():
#     print(row)

# try def
result_df = query_to_dataframe(session, GDP_growth.Series_Name, GDP_growth.Growth_annual_perc, Armed_forces.Series_Name, Armed_forces.Perc_of_labor_force)
result_df

,GDP_growth.Series_Name,GDP_growth.Growth_annual_perc,Armed_forces.Series_Name,Armed_forces.Perc_of_labor_force
0,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),1.702301
1,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),1.522712
2,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),1.316624
3,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),1.199191
4,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),9.662677
5,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),10.455573
6,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),10.117746
7,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),9.126623
8,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),8.805290
9,GDP growth (annual %),-9.431974,Armed forces personnel (% of total labor force),8.713139