In [2]:
import pandas as pd
from pathlib import Path

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [3]:
# Create engine 
engine = create_engine("sqlite:///Project_olympian.sqlite")
conn = engine.connect()

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(autoload_with=engine)

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['Air_pollulants',
 'Gov_effectivness',
 'Pop_total',
 'Olympian_stats',
 'Stability_and_absence_of_terr_voil',
 'Mortality_data',
 'Corruption',
 'Armed_forces',
 'Retirement_data',
 'Perceived_health',
 'Wage_gap',
 'Pop_growth',
 'Overall_olympics',
 'Unemployment',
 'GDP_per_capita',
 'Rule_of_law',
 'Disaster_data',
 'Health_expenditure',
 'Legal_rights',
 'Gov_stability',
 'Avoidable_mortality',
 'Tourism_expenditure',
 'Well_being_stats',
 'Pollution_pop_exposed',
 'GDP_usd',
 'Military_expenditure',
 'GDP_p_cap_growth',
 'Athlete_events',
 'Education_expenditure',
 'GDP_growth',
 'Overall_stability',
 'Compulsory_education',
 'Health_expenditure_usd',
 'Employment_ratio',
 'Country_code_key']

In [7]:
Air_pollulants = Base.classes.Air_pollulants
Armed_forces = Base.classes.Armed_forces
Athlete_events = Base.classes.Athlete_events
Avoidable_mortality = Base.classes.Avoidable_mortality
Compulsory_education = Base.classes.Compulsory_education
Corruption = Base.classes.Corruption
Country_code_key = Base.classes.Country_code_key
Disaster_data = Base.classes.Disaster_data
Education_expenditure = Base.classes.Education_expenditure
Employment_ratio = Base.classes.Employment_ratio
GDP_growth = Base.classes.GDP_growth
GDP_p_cap_growth = Base.classes.GDP_p_cap_growth
GDP_per_capita = Base.classes.GDP_per_capita
GDP_usd = Base.classes.GDP_usd
Gov_effectivness = Base.classes.Gov_effectivness
Gov_stability = Base.classes.Gov_stability
Health_expenditure = Base.classes.Health_expenditure
Health_expenditure_usd = Base.classes.Health_expenditure_usd
Legal_rights = Base.classes.Legal_rights
Military_expenditure = Base.classes.Military_expenditure
Mortality_data = Base.classes.Mortality_data
Olympian_stats = Base.classes.Olympian_stats
Overall_olympics = Base.classes.Overall_olympics
Overall_stability = Base.classes.Overall_stability
Perceived_health = Base.classes.Perceived_health
Pollution_pop_exposed = Base.classes.Pollution_pop_exposed
Pop_growth = Base.classes.Pop_growth
Pop_total = Base.classes.Pop_total
Retirement_data = Base.classes.Retirement_data
Rule_of_law = Base.classes.Rule_of_law
Stability_and_absence_of_terr_voil = Base.classes.Stability_and_absence_of_terr_voil
Tourism_expenditure = Base.classes.Tourism_expenditure
Unemployment = Base.classes.Unemployment
Wage_gap = Base.classes.Wage_gap
Well_being_stats = Base.classes.Well_being_stats

In [8]:
session = Session(engine)

In [11]:
data_test = pd.read_sql("SELECT * FROM Well_being_stats", conn)
# data_test

In [13]:
for row in session.query(GDP_growth.values_T8, Unemployment.values_T21).limit(10).all():
    print(row)

(-9.431974068, 7.946)
(-9.431974068, 7.94)
(-9.431974068, 7.961)
(-9.431974068, 7.98)
(-9.431974068, 7.967)
(-9.431974068, 7.941)
(-9.431974068, 7.92)
(-9.431974068, 7.941)
(-9.431974068, 7.953)
(-9.431974068, 7.955)

/var/folders/hs/z5cvxv8n04sb4ctpkmg4t_vh0000gn/T/ipykernel_88517/2708473524.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "Unemployment" and FROM element "GDP_growth".  Apply join condition(s) between each element to resolve.
  for row in session.query(GDP_growth.values_T8, Unemployment.values_T21).limit(10).all():

In [15]:
data_test = pd.read_sql("SELECT * FROM GDP_growth", conn)
data_test

       CountryName CountryCode             SeriesName   year_T8  values_T8
0      Afghanistan         AFG  GDP growth (annual %)  1/1/2001  -9.431974
1      Afghanistan         AFG  GDP growth (annual %)  1/1/2002  28.600001
2      Afghanistan         AFG  GDP growth (annual %)  1/1/2003   8.832278
3      Afghanistan         AFG  GDP growth (annual %)  1/1/2004   1.414118
4      Afghanistan         AFG  GDP growth (annual %)  1/1/2005  11.229715
...            ...         ...                    ...       ...        ...
13846     Zimbabwe         ZWE  GDP growth (annual %)  1/1/2019  -6.332446
13847     Zimbabwe         ZWE  GDP growth (annual %)  1/1/2020  -7.816951
13848     Zimbabwe         ZWE  GDP growth (annual %)  1/1/2021   8.468017
13849     Zimbabwe         ZWE  GDP growth (annual %)  1/1/2022   6.522375
13850     Zimbabwe         ZWE  GDP growth (annual %)  1/1/2023   4.955782

[13851 rows x 5 columns]